@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700italic,400italic);

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  
  font-family: "Roboto Condensed", sans-serif;
}
body {
  margin: 0 auto;
}

.box {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
}
.box1 {
  background: rgba(0,0,0,0.5);
  padding: 0vw;
  min-height: none;
}
.box2 {
  background: url("res/house.png");
  background-position: center;
  background-size: cover;
}
.box3 {
  background: url("res/car_inside.png");
  background-position: center;
  background-size: cover;
}
.box4 {
  background: url("res/music.png");
  background-position: center;
  background-size: cover;
}
.box5 {
  background: url("res/phone.png");
  background-position: center;
  background-size: cover;
}
.box6 {
  background: url("res/computer.png");
  background-position: center;
  background-size: cover;
}
.box7 {
  background: url("res/billboards.png");
  background-position: center;
  background-size: cover;
}
.box8 {
  background: url("res/city.png");
  background-position: center;
  background-size: cover;
}
.box9 {
  background: url("res/brain.png");
  background-position: center;
  background-size: cover;
}
.box10 {
  background: rgba(0,0,0,0.5);
  padding: 0vw;
  min-height: none;
}
.photocredits {
  background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,1));
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.5),rgba(0,0,0,1));
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 999;
  display: block;
  text-align: center;
  position: relative;
}
.photocredits h1{
  color: black;
  background-color: yellow;
  font-size: 8vw;
  margin: 0px;
}
.photocredits a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 4vw;
}
td {
  padding: 20px;
}
.photocredits td:first-of-type {
  text-align: right;
}


.box * {
  z-index: 2;
}

.mainHeader {
  width: 90vw;
  text-align: center;
  margin: 0 auto;
}
.bigHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17vw;
  font-weight: bold;
  transform: rotate(-3deg) translate(-50%, -50%);
}
.smallerHeader {
  font-size:13vw;
}

mark,.mark {
  color: black;
  background-color: rgb(255,255,0);
}
.header mark {
  padding: 4vh;
}

*::selection {
  background-color: rgb(255,255,0);
  color: black;
}
mark::selection,h2::selection {
  color: rgb(255,255,0);
  background-color: black;
}

h2 {
  display: inline-block;
  font-size: 9vw;
  font-weight: bold;
  margin-left: 2vh;
  margin-top: 2vh;
  padding: 3vh;
  background-color: rgb(255,255,0);
  color: black;
  
  position: relative;
  z-index: 2;
}
.box2 h2{
  background-color: rgba(255,255,0,0.7);
}
.text {
  font-size: 5vw;
  width: 85vw;
  position: absolute;
  right: 0px;
}
.introText b {
  animation: jiggle 0.3s infinite, flicker 0.18s infinite;
}
.introText {
  background: rgba(0,0,0,0.6);
  padding: 1vw;
  box-sizing: border-box;
}

@keyframes jiggle {
  0% {
    transform: rotate(1deg) scale(1,1);
  }
  25% {
    transform: rotate(-1.5deg) scale(1.15,1.15);
  }
  50% {
    transform: rotate(2deg) scale(.9,1.9);
  }
  75% {
    transform: rotate(-2deg) scale(1.2,1.2);
  }
}
@keyframes flicker {
  0% {color: white;}
  50%{color: rgb(255,255,0);}
}

.bottomText {
  font-size: 7vw;
  position: absolute;
  bottom: 6vh;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
}
.bottomText:after {
  content:"sup";
  font-size: 0px;
  display: block;
  width: 100%;
  position: absolute;
  border-bottom: 2px solid rgb(255,255,0);
}

.emboss {
  text-shadow: 0px 1px #555, 0px 2px #555, 0px 3px #555, 0px 4px #555,0px 5px #555, 0px 6px #555;
}

#bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  position: fixed;
}

